<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>webStudy02_MAVEN</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>companyName</param-name>
		<param-value>204Company</param-value>
	</context-param>
	<servlet>
		<servlet-name>DescriptionServlet</servlet-name>
		<servlet-class>kr.or.ddit.web.DescriptionServlet</servlet-class>
		<init-param>
			<param-name>testParam</param-name>
			<param-value>파라미터값</param-value>
		</init-param>
		<init-param>
			<param-name>testParam2</param-name>
			<param-value>파라미터값2</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>DescriptionServlet</servlet-name>
		<url-pattern>/desc</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ClasspathImageServlet</servlet-name>
		<servlet-class>kr.or.ddit.web.ClasspathImageServlet</servlet-class>
		<init-param>
			<param-name>imagePath</param-name>
			<param-value>/kr/or/ddit/test</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ClasspathImageServlet</servlet-name>
		<url-pattern>/image.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DirectorsServlet</servlet-name>
		<servlet-class>kr.or.ddit.web04_model2.DirectorsServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>DirectorsServlet</servlet-name>
		<url-pattern>/directors.do</url-pattern>
	</servlet-mapping>

	<!-- <jsp-config> -->
	<!-- <jsp-property-group> -->
	<!-- <url-pattern>*.jsp</url-pattern> -->
	<!-- <include-prelude>/05/includeeTest.jspf</include-prelude> -->
	<!-- </jsp-property-group> -->
	<!-- </jsp-config> -->
	<!-- <session-config> -->
	<!-- <session-timeout>2</session-timeout> -->
	<!-- </session-config> -->
</web-app>