<html>
<head>
<style type="text/css">
	th,td{
		border:1px solid black;
	}
	table{
		border-collapse:collapse;
	}
</style>
</head>
<body>
<table>
	<thead>
		<tr>
			<th>파라미터명</th>
			<th>파라미터값</th>
		</tr>
	</thead>
	<tbody>
		%paramPair1
	</tbody>
</table>
<br />
<table>
	<thead>
		<tr>
			<th>파라미터명</th>
			<th>파라미터값</th>
		</tr>
	</thead>
	<tbody>
		%paramPair2
	</tbody>
</table>
</body>
</html>














