<html>
<head>
<style type="text/css">
	th,td{
		border:1px solid black;
	}
	table{
		border-collapse:collapse;
	}
</style>
</head>
<body>
<table>
	<thead>
		<tr>
			<th>출력명</th>
			<th>출력값</th>
		</tr>
	</thead>
	<tbody>
		%requestHeaderSpec
	</tbody>
</table>
<br />
<table>
	<thead>
		<tr>
			<th>헤더명</th>
			<th>헤더값</th>
		</tr>
	</thead>
	<tbody>
		%headers
	</tbody>
</table>
<script type="text/javascript">
	alert("당신의 브라우저는 %name 입니다");
</script>
</body>
</html>














