<!DOCTYPE html>
<html>

	<script>
		%brower
	</script>
<body>
	<table border="1">
		<tr>
			%text
		</tr>
	</table>
	<table border="1">
		<tr>
			<th>헤더이름</th>
			<th>헤더값</th>
			%header
		</tr>
	</table>
	<script type="text/javascript">
		alert("당신의 브라우저는 %brower 입니다");
	</script>
</body>
</html>