<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>webStudy01</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>DescriptionServlet</servlet-name>
  	<servlet-class>kr.or.ddit.web.DescriptionServlet</servlet-class>
  	<init-param>
  		<param-name>testParam</param-name>
  		<param-value>파라미터값</param-value>
  	</init-param>
  	<init-param>
  		<param-name>testParam2</param-name>
  		<param-value>파라미터값2</param-value>
  	</init-param>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DescriptionServlet</servlet-name>
  	<url-pattern>/desc</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ClasspathImageServlet</servlet-name>
  	<servlet-class>kr.or.ddit.web.ClasspathImageServlet</servlet-class>
  	<init-param>
  		<param-name>imagePath</param-name>
  		<param-value>/kr/or/ddit/test</param-value>
  	</init-param>
  	<load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ClasspathImageServlet</servlet-name>
  	<url-pattern>/image.do</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ImageFormServlet</servlet-name>
  	<servlet-class>kr.or.ddit.web.ImageFormServlet</servlet-class>
  	<init-param>
  		<param-name>imagePath</param-name>
  		<param-value>/kr/or/ddit/test</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ImageFormServlet</servlet-name>
  	<url-pattern>/imageForm.do</url-pattern>
  </servlet-mapping>
</web-app>